* {
  margin: 0;
  padding: 0;
}

header .logo {
  text-align: left;
  width: 50%;
}
header .logo img {
  width: 300px;
}
header .links {
  text-align: right;
  width: 50%;
}
header {
  display: flex;
  align-items: end;
}
header .links a {
  text-decoration: underline;
  color: black;
}
header .links a:hover {
  color: #007acc;
}
header .links b {
  color: blue;
}

.search {
  float: right;
}
.menu {
  display: inline;
}

div#body {
  clear: both;
  width: auto;
  height: auto;
  background-color: whitesmoke;
  box-shadow: 1 px;
  padding-top: 10px;
}
article {
  display: table-row;
}
aside#left,
aside#right,
section {
  display: table-cell;
  vertical-align: top;
}
aside#left {
  width: 20%;
}
aside#right {
  width: 20%;
}
.marquee {
  height: 300px;
}
.marquee img {
  max-width: 100px;
  max-height: 100px;
}
aside#left div {
  border: solid;
  margin-right: 35px;
  margin-bottom: 15px;
}
aside#left div h5 {
  color: white;
  background-color: #007acc;
  border: 1px solid black;
  width: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside#left div ul li {
  list-style-type: square;
  margin-left: 10px;
}

aside#right div {
  border: solid;
  margin-left: 35px;
  margin-bottom: 20px;
}
aside#right h5 {
  color: white;
  background-color: #007acc;
  border: 2px solid black;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside#right div#website p {
  height: 20px;
  padding: 10px;
  text-align: center;
}
aside#right div#access p {
  height: 20px;
  color: red;
  padding: 5px;
  font-weight: bold;
}
section {
  width: auto;
}

section div#form {
  border: dotted;
  width: 600px;
  height: 300px;
  font-size: 20px;
  text-align: center;
  display: inline-table;
  margin-top: 15px;
  background-color: #cfe2ff;
  border: 1px solid;
  margin-left: 100px;
}
.ms-6 {
  margin-left: 70px !important;
}
.ms-7 {
  margin-left: 90px !important;
}
.w-60 {
  width: 400px;
  height: 120px;
}
footer {
  background-color: #3fb550;
  text-align: center;
}
